* {
  padding: 0;
  margin: 0;
}

body {
  margin: 5vh;
  padding: 0;
  height: 90vh;
}

#root {
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15vh;
}

nav {
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
